<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <authentication>
      <forms loginUrl="Logon.aspx" name=".ASPXFORMSAUTH" xdt:Transform="Insert" />
    </authentication>
    <authorization>
      <deny users="?" xdt:Transform="Insert" />
    </authorization>
  </system.web>

  <appSettings >
    <add  key="serviceUrl" value="https://www.tepas.us/iot/WebService1.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
      name="GarageDoor"
      connectionString="server=db660741297.db.1and1.com; initial catalog=db660741297;uid=dbo660741297;pwd=flubbonk" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
      name="elmah-sqlserver"
      connectionString="server=db660741297.db.1and1.com; initial catalog=db660741297;uid=dbo660741297;pwd=flubbonk" />
  </connectionStrings>

</configuration>